.timer-container {
  padding-top: 90px;
  margin: 0 auto;
  text-align: center;
}

.timer-title {
  font-family: 'Cute Font', cursive;
  font-size: 3em;
}

.start-button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
}

.start-button:hover,
.start-button:focus {
  background-color: #F082AC;
}

.timer-clock {
  font-family: 'Cute Font', cursive;
  font-size: 2em;
  padding: 20px;
}